.about-head {
  padding-top: 25%;
  max-width: 600px;
}
.about-head h6 {
  font-weight: 700;
  color: #0f529e;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.about-head h1 {
  max-width: 390px;
  margin-bottom: 30px;
}
.about-head h1 span {
  font-weight: 500;
  color: #0f529e;
}
.about-head p {
  margin-bottom: 30px;
  max-width: 475px;
}
.about-head-img {
    position: absolute;
    max-width: 671px;
    max-height: 726px;
    top: 140px;
    right: 190px;
    z-index: -1;
}
.about-head-top-left .main-title p::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #87c9d8;
  bottom: -5px;
  left: 0;
}

.about-head-img img {
  width: 100%;
}
.about-head .read-below {
  margin-top: 240px;
  display: flex;
  gap: 22px;
  align-items: center;
}
.about-head .read-below h6 {
  font-weight: 700;
  margin-bottom: 0;
}
.about-head .read-below p {
  margin-bottom: 0;
}
@media screen and (width < 1300px) {
  .about-head {
    max-width: 440px;
  }
  .about-head .about-head-img {
    max-width: 460px;
    top: 180px;
  }
  .about-head .read-below {
    margin-top: 80px;
  }
}
@media screen and (width < 1000px) {
  .about-head .about-head-img {
    display: none;
  }
}

.discovery-workshop {
  padding-top: 190px;
}
.discovery-workshop .about-head-top {
  display: flex;
  gap: 66px;
  margin-bottom: 50px;
}
.discovery-workshop .discovery-workshop-top-right {
  margin-top: 208px;
  width: 100%;
  position: relative;
}
.discovery-workshop .discovery-workshop-top-right .shadow-div {
  left: 67px;
  top: -57px;
}
.discovery-workshop .discovery-workshop-top-right h3 {
  padding-left: 15px;
}
.discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item .img {
  max-width: 187px;
  max-height: 187px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 22px;
}
.discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item .img img {
  width: 100%;
}
.discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item-bottom {
  display: flex;
  position: relative;
  left: -35px;
}
.discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item-bottom-sn {
  font-size: 23px;
  font-weight: 700;
  margin-right: 8px;
  padding-top: 8px;
  position: relative;
}
.discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item-bottom-sn::after {
  position: absolute;
  content: "";
  width: 1px;
  background-color: #88b04b;
  height: 40px;
  right: -8px;
  top: 4px;
}
.discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item-bottom .title {
  font-size: 14px;
  padding-left: 12px;
}
.discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item-bottom .title span {
  font-weight: 700;
}
@media screen and (width < 1200px) {
  .discovery-workshop {
    padding-top: 100px;
  }
  .discovery-workshop .discovery-workshop-top-right {
    margin-top: 148px;
  }
}
@media screen and (width < 992px) {
  .discovery-workshop .about-head-top {
    gap: 25px;
  }
  .discovery-workshop .discovery-workshop-top-right {
    margin-top: 0px;
  }
  .discovery-workshop .discovery-workshop-top-right h3 {
    margin-bottom: 25px;
  }
  .discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item-bottom {
    left: 0;
  }
  .discovery-workshop .discovery-workshop-top-right .discovery-workshop-steps-item-bottom-sn {
    font-size: 16px;
  }
}

.most-suitable {
  padding-top: 140px;
}
.most-suitable .about-head-top {
  display: flex;
  gap: 60px;
  margin-bottom: 80px;
}
.about-head-top-right {
  margin-top: 40px;
  width: 100%;
}
.about-head-top-right .wrapper h3 {
  margin-bottom: 30px;
  max-width: 736px;
}
.about-head-top-right .wrapper p {
  margin-bottom: 48px;
  max-width: 736px;
}
.about-head-top-right .wrapper .shadow-div {
  left: 64px;
  top: 45px;
}
.about-head-top-right-discuss {
  padding: 34px 52px;
  background-color: #0f529e;
  display: flex;
  max-width: 800px;
  gap: 60px;
  border-radius: 12px;
}
.about-head-top-right-discuss-img {
  max-width: 192px;
}
.about-head-top-right-discuss-img img {
  width: 100%;
}
.about-head-top-right-discuss-text h6 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 5px;
  color: white;
  margin-top: 20px;
}
.about-head-top-right-discuss-text h3 {
  color: white;
  margin-bottom: 24px;
}
.about-head-top-right-discuss-text a {
  text-decoration: none;
  color: white;
}
@media screen and (width < 1400px) {
  .most-suitable .about-head-top-right-discuss {
    gap: 30px;
  }
  .most-suitable .about-head-top-right-discuss-img {
    width: 150px;
  }
  .most-suitable .about-head-top-right-discuss-text h6 {
    font-size: 20px;
  }
  .most-suitable .about-head-top-right-discuss-text h3 {
    font-size: 22px;
  }
}
@media screen and (width < 992px) {
  .most-suitable .about-head-top-right-discuss {
    gap: 30px;
  }
  .most-suitable .about-head-top-right-discuss-img {
    width: 120px;
  }
}
@media screen and (width < 500px) {
  .most-suitable .about-head-top-right-discuss {
    padding: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.thumb-image {
  padding-bottom: 42px;
}
.thumb-image > h3 {
  margin-bottom: 30px;
}
.thumb-image p {
  margin-bottom: 30px;
}
.thumb-image-images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumb-image-images-left, .thumb-image-images-right {
  width: 45%;
}
.thumb-image-images-left img, .thumb-image-images-right img {
  width: 100%;
  margin-bottom: 16px;
  height: 350px;
  border-radius: 20px;
}
.thumb-image-images-left h5, .thumb-image-images-right h5 {
  font-size: 23px;
  font-weight: 700;
}
.thumb-image-images-mid {
  width: 10%;
}
.thumb-image-images-mid h5 {
  font-size: 23px;
  font-weight: 700;
}
@media screen and (width < 1200px) {
  .thumb-image .thumb-image-images-left h5, .thumb-image .thumb-image-images-right h5, .thumb-image .thumb-image-images-mid h5 {
    font-size: 18px;
  }
}
@media screen and (width < 900px) {
  .thumb-image > h3 {
    margin-bottom: 15px;
  }
  .thumb-image .thumb-image-images {
    flex-direction: column;
    gap: 25px;
  }
  .thumb-image .thumb-image-images-left, .thumb-image .thumb-image-images-right {
    width: 80%;
  }
  .thumb-image .thumb-image-images-left h5, .thumb-image .thumb-image-images-right h5 {
    font-size: 14px;
  }
  .thumb-image .thumb-image-images-mid h5 {
    font-size: 14px;
  }
}
@media screen and (width < 500px) {
  .thumb-image .thumb-image-images-left, .thumb-image .thumb-image-images-right {
    width: 100%;
  }
}

.why-right-tools > h3 {
  margin-bottom: 30px;
}
.why-right-tools-img {
  margin-top: 66px;
  margin-bottom: 100px;
  width: 100%;
}
.why-right-tools-img img {
  width: 100%;
  min-height: 20vh;
  object-fit: cover;
}

.main-title .about-head-top {
  display: flex;
  gap: 60px;
  margin-top: 50px;
}
@media screen and (width > 992px) {
  .main-title .about-head-top-left .main-title {
    min-width: 232px;
  }
}
.main-title-right {
  max-width: 736px;
  margin-bottom: 50px;
}
.main-title-right h3 {
  margin-bottom: 30px;
}
.main-title-right .shadow-div {
  left: 64px;
  top: 45px;
  min-height: 226px;
}
.main-title .main-title-img {
  width: 100%;
  margin-bottom: 100px;
}
.main-title .main-title-img img {
  width: 100%;
}
@media screen and (width < 992px) {
  .main-title .about-head-top {
    gap: 30px;
    margin-bottom: 15px;
  }
  .main-title .main-title-img {
    margin-bottom: 30px;
  }
}

.live-support .about-head-top {
  display: flex;
  gap: 60px;
  margin-bottom: 50px;
}
.live-support-top-right {
  width: 100%;
  margin-top: 40px;
}
.live-support-top-right .wrapper {
  max-width: 606px;
}
.live-support-top-right .shadow-div {
  left: 64px;
  top: 45px;
  min-height: 217px;
}
.live-support-top-right h3 {
  margin-bottom: 30px;
}

.go-live {
  padding: 100px 0;
  background-color: #1a4177;
  color: white;
}
.go-live-head {
  max-width: 502px;
  margin-bottom: 50px;
}
.go-live-head h3 {
  margin-bottom: 30px;
  color: white;
}
.go-live-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.go-live-list-item {
  border-radius: 12px;
  background-color: rgba(149, 193, 245, 0.05);
  width: 380px;
  height: 153px;
  padding: 32px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.go-live-list-item p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
@media screen and (width < 1400px) {
  .go-live .go-live-list-item {
    width: 284px;
  }
  .go-live .go-live-list-item p {
    font-size: 14px;
  }
}
@media screen and (width < 992px) {
  .go-live .go-live-list {
    justify-content: space-around;
  }
  .go-live .go-live-list-item {
    width: 200px;
    padding: 20px;
  }
  .go-live .go-live-list-item p {
    font-size: 14px;
  }
}
@media screen and (width < 500px) {
  .go-live .go-live-list {
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: flex-start;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .go-live .go-live-list-item {
    flex-shrink: 0;
  }
  .go-live .go-live-list::-webkit-scrollbar {
    display: none;
  }
}

.communication-structure {
  padding: 100px 0;
}
.communication-structure h3 {
  margin-bottom: 30px;
}
.communication-structure-list {
  display: flex;
  background-color: #2a2b3b;
  color: white;
  border-radius: 12px;
  padding: 55px 38px 40px 38px;
}
.communication-structure-list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.communication-structure-list-item h4 {
  color: white;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 17px;
}
.communication-structure-list-item .circle {
  background-color: #036eb2;
  border: 5px solid #059dff;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin-bottom: 20px;
  position: relative;
}
.communication-structure-list-item .circle::after {
  content: "";
  position: absolute;
  width: 260px;
  height: 5px;
  top: 50%;
  left: 100%;
  margin-bottom: -5px;
  background-color: #059dff;
  z-index: 0;
}
.communication-structure-list-item:last-of-type .circle::after {
  display: none;
}
@media screen and (width < 1200px) {
  .communication-structure .communication-structure-list-item .circle::after {
    width: 200px;
  }
}
@media screen and (width < 992px) {
  .communication-structure .communication-structure-list-item h4 {
    font-size: 16px;
  }
  .communication-structure .communication-structure-list-item p {
    font-size: 14px;
  }
  .communication-structure .communication-structure-list-item .circle::after {
    width: 150px;
  }
}
@media screen and (width < 768px) {
  .communication-structure .communication-structure-list {
    flex-direction: column;
  }
  .communication-structure .communication-structure-list-item h4 {
    margin-bottom: 8px;
  }
  .communication-structure .communication-structure-list-item p {
    margin-bottom: 30px;
  }
  .communication-structure .communication-structure-list-item .circle {
    display: none;
  }
}

.development-clients {
  padding-bottom: 100px;
}
.development-clients-head {
  max-width: 800px;
  margin: 0 auto;
}
.development-clients-head h3 {
  text-align: center;
  margin-bottom: 16px;
}
.development-clients-head p {
  text-align: center;
  margin-bottom: 57px;
}
.development-clients-list-item {
  height: 133px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.development-clients-list-item img {
  object-fit: cover;
}

.about-head-top {
  display: flex;
}
.about-head-top-left {
  max-width: 277px;
}
.about-head-top-left p {
  margin-bottom: 24px;
}
.about-head-top-left p:last-of-type {
  margin-bottom: 0;
}
.about-head-top-left .main-title {
  padding: 32px;
  background-color: #0f529e;
  color: white;
  max-width: 232px;
  min-height: 232px;
  border-radius: 8px;
  margin-bottom: 25px;
}
.about-head-top-left .main-title .sn {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 28px;
}
.about-head-top-left .main-title p {
  font-size: 25px;
  line-height: 35px;
  position: relative;
  margin-top: 30px;
}

@media screen and (width < 1200px) {
  .about-head-top .about-head-top-left {
    max-width: 240px;
  }
}
@media screen and (width < 992px) {
  .about-head-top {
    flex-direction: column;
  }
  .about-head-top .about-head-top-left {
    max-width: 100%;
  }
  .about-head-top .about-head-top-left .main-title {
    max-width: 100%;
    min-height: auto;
  }
  .about-head-top .about-head-top-left .main-title .sn {
    margin-bottom: 2px;
    font-size: 20px;
  }
  .about-head-top .about-head-top-left .main-title .p {
    font-size: 18px;
  }
  .about-head-top .about-head-top-left p {
    margin-bottom: 10px;
  }
}
@media screen and (width < 500px) {
  .about-head-top .about-head-top-left .main-title {
    padding: 30px;
  }
}

.what-next {
  padding: 55px 48px;
  background-color: #edf1f4;
  border-radius: 12px;
}
.what-next p {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}
.what-next h6 {
  font-weight: 700;
  font-size: 23px;
}
@media screen and (width < 992px) {
  .what-next p {
    font-size: 16px;
  }
  .what-next h6 {
    font-size: 18px;
  }
}
@media screen and (width < 500px) {
  .what-next {
    padding: 30px;
  }
  .what-next p {
    font-size: 14px;
  }
  .what-next h6 {
    font-size: 16px;
  }
}

.shadow-div {
  width: 100%;
  max-width: 869px;
  min-height: 263px;
  border-radius: 12px;
  position: absolute;
  background-color: #edf1f4;
  z-index: -2;
}
@media screen and (width < 992px) {
  .shadow-div {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
