@media only screen and (min-width: 1025px) and (max-width: 1250px) {
  
  .choose-content{
    border-radius: 25px;
    background-color: #f6f9ff;
    padding: 40px;
    margin-bottom: 5%;
  }

  .services {
    width: 100%;
  }
  .services li .right {
    width: 71.75%;
    float: right;
  }
  .services li .left {
    width: 71.75%;
    float: left;
  }

  .service-title h1{
    font-size: 200px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
    padding-top: 7%;
    color: #e3e7fd;
    margin-bottom: -150px;
  }

  .service-title .desc p {
    color: #0b198f;
    font-size: 15px;
    position: relative;
    text-align: center;
    padding-left: 5%;
    max-width: 900px;
  }
  .services li .left .Details {
    width: 55%;
    float: left;
    text-align: right;
    margin-top: 8%;
  }
  .services li .right .Details {
    width: 55%;
    float: left;
    text-align: right;
    margin-top: 5%;
  }
  .services li .left .img img {
    
    border-radius: 15px;
    box-shadow: 20px 20px #ecf3ff;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  
  .services li .right .Details {
    width: 61.2%;
    float: left;
    text-align: right;
    margin-top: -23%;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
  .service-title{
    width: 100%;
  }
  .services {
    width: 100%;
  }
  .services li {
    padding: 100px 0px 0px 0px;
    margin: 0px;
  }

  .services li .right {
    width: 100%;
  }
  .services li .left {
    width: 100%;
  }

  .service-title h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
    padding-top: 15%;
    color: #e3e7fd;

  }
  .service-title .desc p {
  display: none;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
 
  .services {
    width: 100%;
    text-align: center;
  }
  .services li {
    padding: 0px 0px 90px 0px;
    margin: 0px;
  }
  .services li .right {
    width: 100%;
    float: none;
  }
  .services li .right .img {
    margin: auto;
    float: none;
    padding-bottom: 30px;
  }
  .services li .right .Details {
    width: 100%;
    text-align: center;
  }
  .services li .right .Details p {
    text-align: center;
  }
  .services li .Details a {
    margin: auto;
    float: none;
  }

  .services li .left {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
  .services li .left .img {
    margin: auto;
    float: none;
    padding-bottom: 30px;
  }
  .services li .left .Details {
    width: 100%;
    text-align: center;
  }
  .services li .left .Details p {
    text-align: center;
  }

  .service-title .desc p {
    display: none;
    }

  .service-title h1{
    font-size: 80px;
    margin-top: 35%;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) {

  .col-6-div-services{
    position: absolute;
    top: 0%;
    transform: translate(0%, 0%);
    background-color: rgba(0,0,0,.7);
    padding: 15px;
    height: max-content;
    margin-top: 10%;
    /* width: 90%; */
    /* width: 250px; */
    /* margin-top: 10% !important; */
    color: white;
    /* margin: 10px; */
    border-radius: 15px;
  }
  
.service-title{
  width: 100%;
  height: 80vh;
}

  .service-title .desc p {
    display: none;
  }
 
   .service-title h1{
     font-size: 60px;
     margin-top: 50%;
     text-align: center;
   }

  .services {
    width: 100%;
    text-align: center;
  }

  .services li {
    padding: 0px 0px 90px 0px;
    margin: 0px;
  }

  .services li .right {
    width: 100%;
    float: none;
  }

  .services li .right .img {
    margin: auto;
    float: none;
    padding-bottom: 30px;
  }

  .services li .right .Details h3 {
    font-size: 22px;
  }
  .services li .right .Details {
    width: 100%;
    text-align: center;
  }
  .services li .right .Details p {
    text-align: center;
  }
  .services li .Details a {
    margin: auto;
    float: none;
  }

  .services li .left {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
  .services li .left .img {
    margin: auto;
    float: none;
    padding-bottom: 30px;
  }
  .services li .left .Details {
    width: 100%;
    text-align: center;
  }
  .services li .left .Details h3 {
    font-size: 20px;
  }
  .services li .left .Details p {
    text-align: center;
  }

}

